body {
  background-color: $color-bright-bg;
  width: 100%;
  overflow-x: hidden;
  font-family: $font-primary;
  line-height: 1;
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  display: none;
}

// Typographie
.font-light {
  font-weight: 300;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.info-text-subtle {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding-top: 15px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  color: #808080c4;
}

.info-text-subtle:hover {
  color: white;
}


// LIST
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.content-card, .list-item {
  background-color: white;
}

.content-card:hover, .list-item:hover {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.top-header-inner img:hover {
  filter: invert(1);
}

// Workshops
.workshop-button:hover {
  opacity: 0.5;
}

// Machines
.machine-teaser {
  background-color: white;
}

// main navigation
.main-nav-item:hover {
  color: #E69140 !important;
}

.login-button button:hover {
  background-color: black !important;
}

.dropdown .child a:hover {
  color: #E69140 !important;
}

// cards
.gg-card {
  cursor: pointer;
}

.disabled {
  color: grey;
}

.gg-card:hover {
  background-color: black;
  color: white;
  opacity: 0.8;
}

.gg-card:hover img:not(:hover) {
  filter: invert(1);
}


// Buttons
.input-button-primary:hover {
  background-color: black !important;
  border: 1px solid black !important;
  color: white !important;
}

.input-button-primary {
  cursor: pointer;
  background-color: $color-secondary;
  color: #FFF;
  border: 1px solid $color-secondary-border;
  padding: 7px 12px 8px;
  line-height: 1;
  outline: none;
  align-self: center;
  margin-top: 20px;
}


.input-button-primary:disabled {
  cursor: default;
  background-color: grey;
  border: 1px solid darkgrey;
}

.input-button-back {
  @extend .input-button-primary;
}

.input-button-payment {
  @extend .input-button-primary;
  font-weight: bold;
}

.clickable-icon {
  cursor: pointer;
}

.clickable-icon:hover {
  color: $color-secondary
}


// Toasts
.goodToast {
  background-color: $color-blue-alt !important;
}

.badToast {
  background-color: $color-red !important;
  font-weight: bold;
}

// Alerts
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-primary {
  color: white;
  background-color: $color-primary;
  border-color: $color-primary-border;
}

.alert-info {
  color: white;
  opacity: .8;
  background-color: $color-primary;
  border-color: $color-primary-border;
}

.alert-secondary {
  color: white;
  background-color: $color-secondary;
  border-color: $color-secondary-border;
}

.alert-success {
  color: white;
  background-color: $color-success;
  border-color: $color-success-border;
}

.fade.show {
  opacity: 1;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}


input:invalid {
  background-color: rgba(231, 166, 100, 0);
  border: 2px solid #e69140;
  border-radius: 1.7px;
}

input:focus {
  outline: none !important;
  border: 2px solid rgba(30, 30, 30, 0.87);
  border-radius: 2px;
}

// Font
.text-center {
  text-align: center;
}

.button {
  font-weight: bold;
  line-height: 1em;
  padding: 10px;
  outline: none;
  width: 100%;
  color: #FFF;
  border: none;
  background-color: #E69140;
  margin: 0;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  background-color: black;
}

.machine-list, .member-list {
  list-style: none;
}


// Table
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;

      th {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;

      td {
        display: table-cell;
        vertical-align: inherit;
        text-align: center;
      }
    }
  }
}

.member-portal-table {

  thead {
    background-color: black;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.25rem;
    letter-spacing: 0.05em;
    font-weight: 600;

    tr {
      padding: 0.75rem 1.25rem;
      display: flex;
      justify-content: center;

      th {
        min-width: 100px;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  tbody {
    list-style: none;
    background-color: white;
    color: black;
    font-size: 0.9rem;
    line-height: 1.25rem;
    letter-spacing: 0.05em;
    font-weight: 500;

    tr {
      display: flex;
      padding: 0.75rem 1.25rem;
      justify-content: center;
      border-width: thin;
      border-style: solid;
      border-color: #e2e8f0;

      td {
        min-width: 100px;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .result {
        text-align: right;
      }

      .total {
        text-align: right;
      }

      .bubble {
        color: white;
        position: absolute;
        width: 90px;
        height: 25px;
        border-radius: 100px;
        text-align: center;
        font-weight: 600;
        padding-top: 2px;
        margin-bottom: 10px;
      }

      .grey {
        background: grey;
      }

      .red {
        background: red;
      }

      .yellow {
        background: #ECAB6D;
      }

      .noStatus {
        display: none;
      }

      .icon {
        display: flex;
        align-items: center;
        color: grey;
        width: 10%;
      }

      .icon:hover {
        cursor: pointer;
        color: black;
      }
    }

    .end {
      border-top-style: solid;
      border-top-color: black;
      border-top-width: medium;
    }
  }
}

//Mobile
@include media-breakpoint-down(xs) {
  .member-portal-table {
    margin-left: -8%;
    margin-right: -8%;

    thead {
      padding: 0.75rem 0;
      font-size: 0.8rem;
      line-height: 1.25rem;

      tr {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;

        th {
          width: 50%;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        .activity-date {
          order: 1;
        }

        .activity-amount {
          order: 2;
          text-align: right;
        }

        .activity-status {
          order: 3;
        }

        .activity-description {
          order: 4;
          text-align: right;
          margin-left: 0;
        }

        .invoice-date {
          order: 1;
        }

        .invoice-amount {
          order: 2;
          text-align: right;
        }

        .invoice-number {
          order: 3;
        }

        .invoice-status {
          order: 4;
          text-align: right;
          margin-left: 0;
        }

        .invoice-download {
          order: 5;
          text-align: right;
        }
      }
    }

    tbody {
      font-size: 0.8rem;
      font-weight: 500;

      tr {
        padding: 0.75rem 0;
        display: flex;
        flex-wrap: wrap;

        td {
          width: 50%;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        .activity-date {
          order: 1;
        }

        .activity-amount {
          order: 2;
          text-align: right;
        }

        .activity-status {
          order: 3;
        }

        .activity-description {
          order: 4;
          text-align: right;
          margin-left: 0;
        }

        .invoice-date {
          order: 1;
        }

        .invoice-amount {
          order: 2;
          text-align: right;
        }

        .invoice-number {
          order: 3;
        }

        .invoice-status {
          order: 4;
          text-align: right;
          display: flex;
          justify-content: end;
        }

        .invoice-download {
          order: 6;
          text-align: right;
          display: flex;
          justify-content: end;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }

        .result {
          width: 78%;
          text-align: right;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }

        .total {
          width: 22%;
          text-align: right;

          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }

        .bubble {
          width: 60px;
          position: relative;
          padding: 2px 5px;
        }

        .icon {
          display: flex;
          align-items: end;
          color: grey;
          width: 7%;
          order: 5;
        }
      }
    }
  }
}
